.main-links {
    display: flex;
    flex-direction: column;
    padding-left: .7rem;
    padding-top: 2rem;
    align-items: flex-start;
    border-bottom: 1px solid rgb(80, 80, 80);
    margin: 0 auto;
    width: 95%;
}

.main-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    padding-bottom:.7rem ;
    font-weight: 600;
    font-size: .7rem;
}

.help-container {
    color: white;
    display: flex;
    justify-content: space-between;
}

.help-container h2 {
    padding-left: 1rem;
    text-transform: uppercase;
    font-size: .8rem;

}
.plus-container {
    display: inline-block;
    position: relative;
    margin: auto 1rem auto 0;
    width: 25px;
    height: 25px;
    /* border: 1px solid red; */
}
.plus-line {
    position: absolute;
    width: 12px;
    height: 2px;
    background-color: white;
    transition: all cubic-bezier(0.26, 0.1, 0.27, 1.55) .35s;
}
.vertical {
    left: 25%;
    width: 50%;
    bottom: 50%;
    transform: rotate(90deg);
}
.horizontal {
    bottom: 50%;
    left: 25%;
    width: 50%;
    transform: rotate(0deg);
}

.close {
    transform: rotate(180deg);
}

.help-modal {
    /* border: 1px solid red; */
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 1rem;
    border-bottom: 1px solid rgb(80, 80, 80);

}

.help-modal a {
    text-decoration: none;
    padding-bottom: .6rem;
    color: gray;
    font-size: .7rem;
}
.social-media-container {
    display: flex;
    justify-content: space-evenly;
    color: black;
    width: 50%;
    padding-top: 2em;
}

.social-link-container {
    font-size: 1.5rem;
    padding: .1em;
    /* border: 1px solid red; */
    border-radius: 100%;
    background-color: rgb(80, 80, 80);
    width: fit-content;
}

.bottom-container {
    text-decoration: none;
    color: rgb(80, 80, 80);
    margin-bottom: 2em;
}

.location-container {
    display: flex;
    padding-top: 2em;
    padding-left: 3em;
    width: fit-content;
    color: rgb(214, 214, 214);
    border: 1px solid green;
}
.location-container h3 {
    padding-left: 1em;
    font-weight: 100;
    font-size: 1.5vw;

}
.location-icon {
    display: block;
    border: 1px solid red;
    margin:  auto 0;
    font-size: 20px;
}
.copyright {
    font-size: 1.5vw;
    font-weight: 100;
    padding-left: 4em;
}
.bottom-container a {
    display: block;
    width: fit-content;
    text-decoration: none;
    color: rgb(80, 80, 80);
    font-size: 2vw;
    padding-left: 2em;
    margin-top: 2em;
    border: 1px solid red;
}