.kemba-title {
    position: relative;
    z-index: 1;
    width: 70%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    margin-top: -12rem;

}


.slider {
    width: 100%;
    /* padding-top: 5rem; */
    padding-left: 1rem;
}


.items-title {
    padding-top: 4rem;
    padding-left: 1rem;
}

.slider-img {
    min-width: 300px;
    min-height: 300px;
    width: 1.2rem;
}
.kemba-title h2 {
    font-size: 1.8rem;
    line-height: 1.5rem;
}

.kemba-title a {
    padding: .8rem;
    width: 2.5rem;
    
    border-radius: 20px;
    background: #111;
    color: #fff;
}

.carousel-container {
    display: flex;
    overflow: scroll;
    justify-content: flex-start;
}


.carousel-container img {
    width: 30px;
}


.items2-container div img {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 33rem;
}

.item2-card div{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-left: 1.8rem;
    margin-top: -16.5rem;
    padding-bottom: 3.7rem;
}

.item2-card div h2 {
    color: white;
    font-size: 2rem;
}

.shop {
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 24px;
    width: 14%;
    padding-right: 24px;
    border-radius: 20px;
    background-color: #fff;
    color: #111;
}

.shop-now {
    padding: 1rem;
    width: 28%;
    border-radius: 20px;
    background: #fff;
    color: #111;
}

.items2-container {
    padding: 0px 1.3rem;
}


li {
    list-style: none;
}

.bottom-container {
    display: flex;
    font-weight: 500;
    flex-direction: column;
    padding: 1rem 3rem;
    line-height: 2.7rem;
}