.nav-bar {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
    padding: 10px 10px;
    height: 6vh;
    /* position: fixed; */
    top: 0;
    transition: top 0.6s;
    width: 100%;
    /* top: 0vh; */
}

.nav-hidden {
    display: none;
}

.new-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    /* color: blue; */
    width: 100%;
    top: 4rem;
    z-index: 90;
    border-bottom: 2px solid black;
    padding-bottom: 3rem;
}

.new-nav .link-container {
    display: flex;
    justify-content: space-evenly;
}



.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 0px;
    padding: 3rem;
}

.link-container {
    display: flex;
    white-space: nowrap;
    margin-top: 2rem;
    width: 100%;
    justify-content: space-between;
}

.link-container a {
    /* padding: 0px 10px; */
}

.jordan-logo {
    width: 5rem;
}


.logo {
    min-width: 30px;
    min-height: 30px;
    width: 4rem;
}

.right-nav {
    display: flex;
    width: 10rem;
    justify-content: space-evenly;
}

.right-nav a {
    color: black;
}


.right-nav svg {
    
}